.site-header-container {
    width: 100%;
    display: block;
    position: relative;
}

.header {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.2s ease, backdrop-filter 0.2s ease;
}

.header.scrolled {
    background-color: rgba(250, 250, 250, 0.71);
    backdrop-filter: blur(10px);
}

nav {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-a {
    margin-right: 30px;
    text-decoration: none;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 500;
    font-family: "Poppins", "sans-serif";
    color: var(--bg-light);
    transition: color 0.2s ease
}

.nav-a:hover {
    color: var(--gold-accent);
}

.nav-a.scrolled{
    color: var(--text-main)
}

.nav-a.scrolled:hover{
    color: var(--blue)
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    width: 100%;
}

.dropbtn:hover {
    color: var(--gold-accent);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--navy);
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: 220px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
    transition: opacity 0.15s ease, transform 0.15s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.logo {
    width: auto;
    max-width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    transition: height 0.3s ease;
    background-color: black;
}

.logo.scrolled {
    height: 80%;
}

.hero {
    border: none;
    text-align: left;
    color: var(--text-light);
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;

    height: 70vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;

    position: relative;
    
    
    background: radial-gradient(
        circle at 30% 40%,
        rgba(12, 20, 40, 0.554),
        transparent 70%
    ),
    linear-gradient(135deg, var(--navy), var(--navy-light));
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-size: cover;
    background-position: top center;
    z-index: -1;
}

.hero-title {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
    max-width: 55rem;
    margin: 0 0 1.5rem 0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 260px;
    height: 100%;
    background: var(--navy);
    color: white;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    transition: right 0.35s ease;
    z-index: 999;

    font-family: "Poppins", "sans-serif";
}

.sidebar a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.2s;
}

.sidebar a:hover {
    color: var(--gold-accent);
}

.sidebar.open {
    right: 0;
}

@media (max-width: 1000px) {
    nav {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

.sidebar-group {
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sidebar-top .arrow {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.arrow {
    margin-right: 1rem;
}

.sidebar-dropdown {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
    transition:
        max-height 0.35s ease,
        opacity 0.35s ease,
        margin-top 0.35s ease,
        transform 0.35s ease;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 0;
}

.sidebar-dropdown a {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.sidebar-dropdown.open {
    max-height: 500px;
    opacity: 1;
    margin-top: 1rem;
    transform: translateY(0);
    display: flex;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.hamburger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--text-main);
    border-radius: 4px;
    transition: background-color 0.2s ease;
}
